/* =====================
   VARIABLES
===================== */
:root {
  --dark-main: #2a2d3f;
  --violet-accent: #c249fa;
  --dark-card: #161a1e;
  --light-text: #d1d2da;
}

/* =====================
   GLOBAL
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--dark-main);
  color: var(--light-text);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Bodoni Moda", serif;  //f-w: 400-900
}

h1 {
  font-weight: 700;
}
h2, h3 {
  font-weight: 600;
}
/* =====================
   NAVIGATION
===================== */
.main-nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(30, 32, 44, 0.95);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #2a2c3a;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo a {
  color: var(--light-text);
  font-family: "Bodoni Moda", serif;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.nav-logo a span {
  color: var(--violet-accent);
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links .nav-link {
  background: none;
    border: none;
    color: var(--light-text);
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    position: relative;
}

.nav-links .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--violet-accent);
  transition: width 0.3s ease;
}

.nav-links .nav-link:hover::after {
  width: 100%;
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.nav-icon {
  background: none;
  border: none;
  color: var(--light-text);
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-icon:hover {
  color: var(--violet-accent);
  transition: 0.3s ease;
}


/* =====================
   HERO
===================== */
.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(30, 32, 44, 0.717);
}

.hero-overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.hero-overlay h3 {
  color: var(--violet-accent);
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.hero-overlay p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.btn-primary {
  background: transparent;
  color: var(--light-text);
  border: 3px solid transparent;
  padding: 1rem 4rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
  border-image: linear-gradient(135deg,
        rgba(116, 44, 118, 0.058),
        #8324af 40%,
        #8324af 60%,
        rgba(116, 44, 118, 0.058)
      ) 1;
}

.btn-primary:hover {
  background: #7263b748;
}

/* =====================
   SECTION TITLES
===================== */
.section-title {
  text-align: center;
  // margin: 4rem 0 2rem;
  font-size: 2rem;
}

/* ==================================================
   3D CAROUSEL (MAIN FEATURE)
================================================== */


/* SECTION */

.carousel-section {
  padding: 100px 0;
  text-align: center;
}

.section-title {
  color: var(--violet-accent);
  font-size: 2rem;
  margin-bottom: 100px;
}

/* WRAPPER */

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CAROUSEL */

.carousel {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 360px;
}

/* CARD */

.carousel-item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 310px;
  height: 370px;
  background: var(--dark-card);
  border-radius: 18px;
  overflow: hidden;
  transform: translateX(-50%) scale(0.7);
  opacity: 1;
  transition: all 0.5s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* IMAGE */

.carousel-item img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 0.7rem;
}

/* TITLE */

.carousel-item h3 {
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
}
.carousel-item p {
  font-size: 0.5rem;
}

/* POSITIONS */

/* POSITIONS (symmetrical) */
.pos-center {
  transform: translateX(-50%) scale(1.5);
  opacity: 1;
  z-index: 5;
}

.pos-left-1 {
  transform: translateX(-400px) scale(0.95);
  opacity: 0.9;
  z-index: 4;
}

.pos-right-1 {
  transform: translateX(90px) scale(0.95);
  opacity: 0.9;
  z-index: 4;
}

.pos-left-2 {
  transform: translateX(-560px) scale(0.8);
  opacity: 0.6;
  z-index: 3;
}

.pos-right-2 {
  transform: translateX(250px) scale(0.8);
  opacity: 0.6;
  z-index: 3;
}

.hidden {
  opacity: 0;
  transform: scale(0.6);
  z-index: 0;
}


/* NAV BUTTONS */

.nav-btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 28px;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.nav-btn:hover {
  transform: scale(1.3);
  transition: 0.4s ease;
}

/* =====================
   ADDITIONAL PRODUCTS
===================== */
.additional-products {
  padding: 0 100px;
  background: #20212f;
  padding: 4rem 2rem;
}

.products-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
}
.products-grid a {
  text-decoration: none;
  color: var(--light-text);
}

.product-card {
  background: var(--dark-card);
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
  background: var(--violet-accent);
  transform: translateY(-6px);
}

/* =====================
   REVIEWS
===================== */
.contact {
  padding: 80px;
}

.contact-card {
  max-width: 520px;
  margin: auto;
  background: var(--dark-card);
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
}

/* =====================
   FOOTER
===================== */
.site-footer {
  background: #14151d;
  padding: 50px;
  text-align: center;
}

.pages {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.pages li {
  margin: 0 0.6rem;
  list-style: none;
  position: relative;
  cursor: pointer;
}

.pages li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: var(--violet-accent);
  transition: width 0.3s ease;
}

.pages li:hover::after {
  width: 100%;
}

.payment {
  height: 24px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;  
}

.socials {
  margin-bottom: 1.5rem;
}

.socials a {
  margin: 0 0.6rem;
  text-decoration: none;
}

.socials a:hover {
  color: var(--violet-accent);
}

.socials a img {
  width: 24px;
  height: 24px;
}

.site-footer p {
  font-size: 0.7rem;
}


/* =====================
   CONTACT SECTION
===================== */

.contact {
  padding: 80px 2rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: stretch;
}

/* =====================
   LEFT INFO BLOCK
===================== */

.contact-info {
  background: var(--dark-card);
  border-radius: 18px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 2rem;
}

.contact-title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: var(--violet-accent);
}

.contact-item {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.contact-item strong {
  font-weight: 600;
  color: var(--light-text);
}

/* =====================
   FORM
===================== */

.contact-form-wrapper {
  background: var(--dark-card);
  border-radius: 18px;
  padding: 2.5rem;
}

.contact-form-title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: var(--violet-accent);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: 1px solid #4b4e69;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  color: var(--light-text);
  font-size: 0.85rem;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #8e90a645;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--violet-accent);
}

.contact-form textarea {
  min-height: 140px;
}

.contact-counter {
  font-size: 0.7rem;
  color: #8e90a6;
  align-self: flex-end;
}

/* =====================
|| BUTTON
===================== */

.contact-button {
  margin-top: 1rem;
  background: transparent;
  color: var(--light-text);
  border: 3px solid transparent;
  padding: 0.9rem 3rem;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-start;

  border-image: linear-gradient(135deg,
      rgba(116, 44, 118, 0.05),
      #8324af 40%,
      #8324af 60%,
      rgba(116, 44, 118, 0.05)) 1;

  transition: background 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background: #7263b771;
  transform: translateY(-2px);
}


// /* =====================
//    COURSES GRID
// ===================== */
.courses-page {
  padding: 4rem 2rem;
}

.courses-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course-card {
  height: 480px;
  background: var(--dark-card);
  border-radius: 16px;
  overflow: hidden; 
  cursor: pointer;
  position: relative;
}

.course-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.favorite-btn {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: var(--violet-accent);
}

.favorite-btn:hover {
  color: var(--light-text);
  transition: 0.5s;
}

.course-card__content {
  padding: 1rem;
  display: grid;
  justify-content: center;
  text-align: center;
}

.course-card__content hr {
  border: none;
  border-top: 0.1rem solid var(--violet-accent);
  margin-bottom: 1.5rem;
}

.course-card__content h3 {
  margin-bottom: 0.5rem;
  color: var(--violet-accent);
}

.course-card__content p {
  font-size: 0.90rem;
  color: #b0b0b0;
  margin-bottom: 2rem;
}

.course-card__footer {
  display: grid;
  justify-content: center;
  text-align: center;
}

.course-card__footer span {
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.767);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.modal {
  position: relative;
  pointer-events: initial;
  background: var(--dark-card);
  width: 800px;
  padding: 20px;
  border-radius: 0.5em;
}

.modal-overlay img {
  border: 1px solid var(--violet-accent);
  width: auto;
  height: 400px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.modal h2 {
  margin: 1rem;
  color: var(--violet-accent);
  
}

.modal-overlay .favorite-btn {
  font-size: 2rem;
  position: relative;
  margin-bottom: 1rem;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem;
}

.quantity button {
  background: var(--violet-accent);
  border: none;
  color: white;
  font-size: 1.2rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.modal-actions .btn-primary {
  width: 300px;
} 

.modal-actions .favorite-btn {
  margin-left: 35px;
  margin-bottom: 2rem;
}

.modal-description {
  margin: 0 auto;
  width: 70%;
  font-size: 0.8rem;
  color: #b0b0b0;
}

 .modal-description li {
  padding: 0.1rem;
  list-style: none;
 }
 
 .modal-description p {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
 }

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}